body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: #0275c1;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}

#muteButton {
color: antiquewhite;
background-color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .signup {
   color: red;
  }

  #start{
    color: rgb(17, 98, 169);
    font-weight: bolder;
    background-color: bisque;
  }

  .guide{
    width: 100%;
    color: red;
    margin: 10vh;
  }



  /* home page */

  .openGame{
    color: orange;
    text-decoration: none;
    font-size: 20px;
  
  }


  .openGameButton{
    background-color: #2c3e50;
    margin-top: 5vh;
    padding: 8px;
    margin-bottom: 10vh;
    border-radius: 20px;
   
  }

  .h1h2h3{
    color: orange;
    padding: 20px;
  }

  .keys{
    color: lightblue
  }

/* 
  /* login-signup  */

       body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #2c3e50;
            margin: 0;
            padding: 0;
        }


        .container {
          width: 30%;
          max-width: 400px; /* Adjust the max-width as needed */
          margin: 15px auto; /* Center the container horizontally and add top and bottom margin */
          padding: 5px;
          background-color: #34495e;
          border-radius: 10px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          overflow: hidden;
          margin-top: 8vh;
      }
      
        /* .container {
          width: 30%;
           padding: 5px; 
           margin: 15px;
            background-color: #34495e;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            
        } */

        .tabs {
            display: flex;
        }

        .tab {
            flex: 1;
            text-align: center;
            padding: 15px;
            cursor: pointer;
            background-color: #6790b9;
            color: #ecf0f1;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            transition: background-color 0.3s;
        }

        .tab:hover {
            background-color: #34495e;
        }

        .content {
            padding: 20px;
        }

        .input-group {
            margin-bottom: 20px;
        }

        .input-group label {
            display: block;
            margin-bottom: 5px;
            color: #ecf0f1;
            font-size: 14px;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background-color: #2c3e50;
            color: #ecf0f1;
            border: 1px solid #34495e;
            border-radius: 4px;
            transition: border-color 0.3s;
        }

        .input-group input:focus {
            border-color: #3498db;
            outline: none;
        }

        .btn {
            background-color: #3498db;
            color: #ecf0f1;
            padding: 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #2980b9;
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }  